#mc_embed_signup
  form#mc-embedded-subscribe-form.validate(action='https://gmail.us20.list-manage.com/subscribe/post?u=48ddb958c6efb9759815241ae&id=495436e304', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
    #mc_embed_signup_scroll
      label(for='mce-EMAIL') leave your e-mail to receieve the blog updates
      input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='email address', required='')
      div(style='position: absolute; left: -5000px;', aria-hidden='true')
        input(type='text', name='b_48ddb958c6efb9759815241ae_495436e304', tabindex='-1', value='')
      .clear
        input#mc-embedded-subscribe.button(type='submit', value='subscribe', name='subscribe')

