#avatar {
    background-image: url('https://en.gravatar.com/userimage/27873164/7d743cd55d07b51b673558eb7fb3ad93.jpg?size=200');
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    margin-top: 0px;
    float: right;
}
