#avatar {
    background-image: url('https://en.gravatar.com/userimage/27873164/6e88202f879760e6312053474d803843.jpg?size=200');
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    margin-top: 15px;
    float: right;
}
