::selection {
    color: #FFFFFF;
    background-color: #42b983;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    color: #34495e;
    font-size: 15px;
    line-height: 1.7;
    background-color: #fff;
    font-family: 'sourcesanspro', 'Helvetica Neue', Arial, sans-serif;
}

ul.nav,
ul.post-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul {
    margin: 1rem 0;
}

a, a:active {
    color: #2c3e50;
    text-decoration: none;
}

a.nav-list-link {
    position: relative;
    color: #000000;
    text-decoration: none;
    padding-bottom: 4px;
}

a.nav-list-link:hover {
    color: #000000;
}

a.nav-list-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a.nav-list-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

a.post-title-link:hover {
    color: #7a7a7a;
}

hr {
    border: 0;
}

code {
    margin: 0 2px;
    padding: 3px 5px;
    color: #e96900;
    border-radius: 2px;
    white-space: inherit;
}

iframe, video {
    max-width: 100%;
    margin: 1rem auto;
    display: block;
}

table {
    width: 100%;
    margin: 1em auto;
    thead {
        background-color: #ddd;
        th {
            padding: 5px;
            min-width: 20px;
        }
    }
    tbody {
        tr:nth-child(2n) {
            background-color: #eee;
        }
        td {
            padding: 5px;
            vertical-align: text-top;
        }
    }
}
