header {
    min-height: 60px;

    .logo-link {
        float: left;
        width: 100%;
        padding-left: 10px;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
    }

    .nav {
        left: 0;
        padding-top: 25px;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px  10px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }
}
