header {
    min-height: 60px;

    .logo-link {
        float: left;
        padding-left: 10px;
        font-size: 25px;
        font-family: 'Roboto', sans-serif;
        text-align: left;
        font-weight: 300;
        text-transform: uppercase;
    }

    .nav {
        left: 0;
        text-align: right;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-top: -7.5pt;
        margin-right: 12pt;
    }

    .nav-list-item {
        display: inline-block;
        padding: 19px  10px ;
        a {
            font-size: 16px;
            line-height: 1.4;
        }
    }
}
