.home.post-list {
    margin: 2em 0;
    .post-list-item {
        font-size: 13px;
        padding-top: 1em;
        text-align: center;
        &:last-child {
            border-bottom: 0;
        }
    }
    .post-content{
        h2, h3, h4, h5, h6 {
            &:before {
                content: '';
            }
        }
        & > ul {
            list-style: initial;
        }
    }
    .read-more {     
        color: #42b983;
    }
}
